
todo.md
data/
media-uploader/upload_dir/*
!media-uploader/upload_dir/

# Terraform:
.terraform/
*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info

.terraformrc
terraform.rc

# Mac os:
.DS_Store

# Java
target

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

idea
*.iws
*.iml
*.ipr
.idea/

